.logo-dan-nama {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    gap: 500px;
}

.fans-real-madrid-cf {
    color: white;
}

.logo {
    width: 50px;
    height: auto;
}
.linkkananrealmadrid {
    font-size: 14px;
    color: white;
}

.khususnavbar {
    background-color: midnightblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 80px;
}

.section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px 0;
    color: black;
    align-items: center;
    
}
.Hellofans {
    font-size: 32px;
    color: white;
    background-image: url(Assets/koreogreatwhite.jpg);
    height: 100%;
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: center;
}
.section-header a {
    color: black;
}

.section-inside-header {
    display: flex;
    flex-direction: row;
    color: black;
    gap: 20px;
    list-style: none;
    align-items: flex-start;
    justify-content: flex-start;
    
}
.title {
    color: white;
    display: flex;
}
h1 {
    column-span: all;
  }

.fans-real-madrid-cf {
    flex-direction: column;
    display: flex;
}
.gambar-fans {
    width: 1322px;
    height: auto;
}
.about-me {
    font-weight: bold;
    font-size: 16px;
    color: midnightblue;
    text-align: center;
}
.paragraf-aboutme {
    font-weight: normal;
    font-size: 12px;
    color: black;
    text-align: center;
}
.about-fans-real-madrid {
    font-weight: bold;
    font-size: 16px;
    color: midnightblue;
    text-align: center; 
}
.paragraf-aboutfansrealmadrid {
    font-weight: normal;
    font-size: 12px;
    color: black;
    text-align: center;
}
.tipsmenendangbola {
    font-weight: bold;
    font-size: 16px;
    color: midnightblue;
    text-align: center;  
}
.gabungan-tips-video {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tahapan-shoot {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-weight: bold;
}
.beberapashoot {

    font-weight: bold;
    font-size: 16px;
    color: midnightblue;
    text-align: center;  
}
.macamtendangan{
    font-weight: normal;
    font-size: 12px;
    color: black;
    text-align: center;
}
.nendangbola {
    font-weight: normal;
    font-size: 12px;
    color: black;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content:center ;
}
.link {
    color: white;
}
.PEMAIN-REAL-MADRID {
    background-color: midnightblue;
    justify-content: center;
    display: flex;
    flex: row;
    color: white;
}
.foto-pemain {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 200px;
    margin-bottom: 100px;
    
}
.nama-pemain {
    display: flex;
    flex: row;
    justify-content: center;
    width: 100%;
    gap: 200px;
    margin-bottom: 10px;
    
}
.foto-pemain-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
    
    
}


.foto-pemain-grid img {
    width: 200px;
    height: 200px;
    
}
.div-foto-pemain {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.piala-real-madrid {
    background-color: midnightblue;
    color: white;
    display: flex;
    flex: row;
    justify-content: center;

}
.fotopiala {
    width: 100%;
}

.trofi-real-madrid {
    display: flex;
    flex: row;
    justify-content: space-between;
}

.santiagobernabeu {
    background-color: midnightblue;
    color: white;
    display: flex;
    flex: row;
    justify-content: center;
}
.dalamstadion {
    width: 100%;
}

.foto-stadion-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}
.foto-stadion-grid img {
    width: 500px;
    height: 300px;
}
.foto-nama-stadion {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





